{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            margin-top: 20px;
        }
        form {
            margin-top: 20px;
        }
        input[type="file"] {
            margin-bottom: 10px;
        }
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Upload Video</h1>
    <form action="/video_detection" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*">
        <br>
        <button type="submit">Upload</button>
    </form>

    {% endblock %}
